* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  text-align: center;
  padding: 3% 0;
  width: 100%;
  height: auto;
}

header h1 {
  color: red;
  font-size: 5vw;
}

header h2 {
  font-size: 3.5vw;
  letter-spacing: 0.2vw;
}

header h3 {
  font-size: 0.9vw;
}

header .navlinks {
  padding: 2% 0;
  width: 100%;
  text-align: center;
}

header .navlinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  list-style: none;
  color: #4d2f2f;
}

header .navlinks ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1%;
  font-size: 1.1vw;
}

header .navlinks ul li svg {
  width: 2vw;
  height: 2vw;
  color: brown;
}

#hero {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("images/pexels-kenex-media-sa-3177662.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  padding: 27% 0;
}

#hero h3 {
  color: #fff;
  font-size: 3vw;
  letter-spacing: 0.5vw;
}

#brands {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5% 0 0 0;
}

#brands h3 {
  font-size: 3vw;
  color: #4d2f2f;
  text-align: center;
}

#brands hr {
  margin: 0 auto;
  height: 0.2vw;
  margin-top: 0.5%;
  width: 20%;
  background-color: brown;
  outline: none;
  border: none;
}

#brands .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0;
}

#brands .slider img {
  margin: 0 1%;
  width: 20vw;
}

#brands .slider svg {
  width: 7vw;
  height: 7vw;
  color: #b08668;
}

#brands .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5%;
}

#brands .dots svg {
  width: 0.7vw;
  height: 0.7vw;
  margin: 0 0.5%;
  color: brown;
}

#brands .text {
  padding: 2% 10% 7% 10%;
}

#brands .text p {
  font-size: 1.3vw;
  line-height: 2vw;
  margin: 1% 0;
}

#brands .crips {
  width: 100%;
  height: 40vh;
  background-image: url("images/p1_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#divisions {
  padding: 5% 10%;
  background-color: #e6dbdb;
}

#divisions .snack-factory,
#divisions .tissue-factory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#divisions .snack-factory .left,
#divisions .tissue-factory .left {
  width: 40%;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#divisions .snack-factory .left img,
#divisions .tissue-factory .left img {
  width: 80%;
}

#divisions .snack-factory .right,
#divisions .tissue-factory .right {
  width: 60%;
}

#divisions .snack-factory .right p,
#divisions .tissue-factory .right p {
  font-size: 1.4vw;
  margin: 2%;
  line-height: 2.5vw;
}

#divisions .snack-product-list {
  padding: 5% 0;
}

#divisions .snack-product-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

#divisions .snack-product-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4d2f2f;
  padding: 2% 3.5%;
  font-size: 0.9vw;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

#divisions .snack-product-list ul li span {
  font-size: 1.5vw;
}

.tissue {
  width: 100%;
  height: 40vh;
  background-image: url("images/janelle-hiroshige-LGH0uoLt26k-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
}

#private-label {
  padding: 5% 10%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#private-label h3 {
  font-size: 3vw;
  color: #4d2f2f;
  text-align: center;
}

#private-label hr {
  margin: 0 auto;
  height: 0.2vw;
  margin-top: 0.7%;
  width: 30%;
  background-color: brown;
  outline: none;
  border: none;
}

#private-label p {
  font-size: 1.2vw;
  margin: 2%;
  line-height: 2.2vw;
}

#private-label .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0;
}

#private-label .slider img {
  margin: 0 1%;
  width: 70%;
}

#private-label .slider svg {
  width: 7vw;
  height: 7vw;
  color: #b08668;
}

#private-label .accordion {
  width: 70%;
  padding: 1% 5%;
  background-color: #4d2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}

#private-label .accordion p {
  color: #fff;
}

#private-label .accordion span {
  color: #fff;
  font-size: 2vw;
}

#private-label .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0;
}

#private-label .dots svg {
  width: 2vw;
  height: 2vw;
  margin: 0 5%;
  color: brown;
}

#private-label .about {
  padding: 5%;
}

#private-label .about h3 {
  color: #000;
  font-size: 1.7vw;
}

#contact {
  padding: 5%;
  background-color: #8c6c5e;
}

#contact h3 {
  font-size: 3vw;
  color: #fff;
  text-align: center;
}

#contact hr {
  margin: 0 auto;
  height: 0.2vw;
  margin-top: 0.7%;
  width: 20%;
  background-color: #b38968;
  outline: none;
  border: none;
}

#contact .map-details {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .map-details .left {
  width: 50%;
  height: auto;
  background-image: url("images/p1_8.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#contact .map-details .right {
  width: 50%;
}

#contact .map-details .right .row {
  margin-bottom: 3%;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#contact .map-details .right .row h3 {
  font-size: 1.5vw;
  margin-bottom: 1%;
}

#contact .map-details .right .row p {
  color: #fff;
  font-size: 1.2vw;
  line-height: 1.7vw;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#contact form .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1% 0;
}

#contact form .name-email label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 1%;
}

#contact form .name-email label span {
  color: #fff;
  padding: 2% 0;
  font-size: 1vw;
}

#contact form .name-email label input {
  background-color: #775b52;
  outline: none;
  border: solid #fff 0.1vw;
  padding: 3%;
  color: #fff;
  font-size: 0.9vw;
}

#contact form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98%;
  margin: 0 1%;
}

#contact form label span {
  color: #fff;
  padding: 1% 0;
  font-size: 1vw;
}

#contact form label textarea {
  background-color: #775b52;
  outline: none;
  border: solid #fff 0.1vw;
  padding: 1%;
  color: #fff;
  font-size: 0.9vw;
}

#contact form input[type="submit"] {
  width: 20%;
  margin: 3% auto;
  font-size: 1.2vw;
  color: #775b52;
  padding: 1.5% 3%;
}
/*# sourceMappingURL=index.css.map */